
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Json Ajax Dischi</title>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
</head>
<body>
    <div id="root">
        <header>
            <div class="header-container">
                <div class="header-wrapper">
                    <div class="logo">
                        <img src="img/Spotify_icon.png" alt="Spotify logo">
                    </div>
                    <div class="search-wrapper">
                        <select name="category" id="music-category" v-model="searchText" type="text" class="select-genre">
                            <option value="">All</option>
                            <option value="Rock">Rock</option>
                            <option value="Pop">Pop</option>
                            <option value="Jazz">Jazz</option>
                            <option value="Metal">Metal</option>
                        </select>
                        <!-- Il figlio emette l'evento custom passando l'informazione al padre -->
                        <button @click="getDiscData()" class="">Cerca</button>
                        
                        <button @click="resetSearch()" class="">Reset</button>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="main-container">
                <div class="app-wrapper">
                    <div v-for="(singleDisc, index) in discs" class="single-disc" :key="index">
                        <div>
                            <img 
                                :src="singleDisc.poster" 
                                alt="singleDisc.title"
                            >
                        </div>
                        <h2>
                            {{ singleDisc.title }}
                        </h2>
                        <div class="disc-author">
                            {{ singleDisc.author }}
                            <br>
                            {{ singleDisc.year }}
                        </div>
                    </div>
                </div>
    
            </div>
    
        </main>
    </div>


    <script src="js/script.js"></script>
</body>
</html>